- name: Add G14 repo sign key
  pacman_key:
    id: 8F654886F17D497FEFE3DB448B15A6B0E9A3FA35
    state: present

- name: Add G14 repo to pacman.conf
  blockinfile:
    path: /etc/pacman.conf
    block: |
      [g14]
      Server = https://arch.asus-linux.org

- name: Update system packages
  pacman:
    update_cache: yes
    upgrade: yes
